:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--slate-300);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--white);
    max-width: 320px;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
}

.card .content {
    padding: 24px;
    text-align: center;
    letter-spacing: 0.2px;
}

.card .qr-code img {
    max-width: 100%;
    border-radius: 10px;
}

.card .content h1 {
    color: var(--slate-900);
    margin: 0;
    font-size: 2.2rem;
}

.card .content p {
    color: var(--slate-500);
    margin: 16px 0 0 0;
}